In [1]:
import numpy as np
from numpy import array, dot, diag, reshape, transpose
from scipy.linalg import eigvalsh
from scipy.integrate import odeint, ode
from sys import argv
import pandas as pd

In [8]:
me1b=pd.read_csv("me1b.dat",delimiter=r'\s+',header=None,skiprows=1)
me1b.head()
#def Read_ME1B(File1b):
#    me1b=pd.read_csv(File1b,delimiter=r'\s+',header=None,skiprows=None)
#    print(me1b) 
#    return me1b 
#Read_ME1B("me1b.dat")

   0  1  2  3          4
0  0  0  0  0  15.000000
1  0  0  0  1  12.247449
2  0  0  1  0  12.247449
3  0  0  1  1  35.000000
4  0  0  1  2  22.360680

In [11]:
def Read_ME1B(File1b):
        tmax=2
        ljmax=9
        nmax=3
        me1b=pd.read_csv(File1b,delimiter=r'\s+',header=None,skiprows=1)
        me1b.columns=['t','lj','n1','n2','vme1b']
        H1B=np.zeros((tmax,ljmax,nmax,nmax))
        for item in me1b.index.values:
                it = me1b['t'][item]
                lj = me1b['lj'][item]
                n1 = me1b['n1'][item]
                n2 = me1b['n2'][item]
                H1B[it,lj,n1,n2] = me1b['vme1b'][item]



        return H1B
H1B=Read_ME1B("me1b.dat")
print(H1B[0,0,:,:])

[[ 15.          12.24744871   0.        ]
 [ 12.24744871  35.          22.36067978]
 [  0.          22.36067978  55.        ]]